<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.naro">
    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name ="android.hardware.camera" android:required="true"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCmIhcmfiNR1aRWaUCurxCdb1rnUMHDYLY"/>
        <activity
            android:name="org.techtown.naro.Loading"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.techtown.naro.GoogleLogin"
            android:exported="false"
            android:parentActivityName="org.techtown.naro.Loading"/>
        <activity android:name="org.techtown.naro.DogInfo"
            android:exported="false"
            android:parentActivityName="org.techtown.naro.MainActivity"/>
        <activity android:name="org.techtown.naro.MainActivity"
            android:exported="false"
            android:parentActivityName="org.techtown.naro.GoogleLogin"/>

        <activity android:name="org.techtown.naro.Camera"
            android:exported="false"
            android:parentActivityName="org.techtown.naro.MainActivity"/>
        <activity android:name="org.techtown.naro.Care"
            android:exported="false"
            android:parentActivityName="org.techtown.naro.MainActivity"/>
        <activity android:name="org.techtown.naro.HosMap"
            android:exported="false"
            android:parentActivityName="org.techtown.naro.MainActivity"/>
        <activity android:name="org.techtown.naro.DogInfodetail"
            android:exported="false"
            android:parentActivityName="org.techtown.naro.MainActivity"/>


        <provider android:name="androidx.core.content.FileProvider"
            android:authorities="org.techtown.naro.fileprovider"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" /> </provider>


    </application>

</manifest>